body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #3498db, #2ecc71);
    height: 100vh;
    overflow: auto;
}

header {
    background: linear-gradient(90deg, #3498db, #2ecc71);
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    margin: 20px;
    display: flex;
    align-items: center;
}

input, button {
    padding: 10px;
    margin-right: 8px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #2ecc71;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #27ae60;
    transform: scale(1.05);
}

#limparTudo {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 0px;
    margin-left: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

#limparTudo:hover {
    background-color: #c0392b;
    transform: scale(1.05);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 8px;
    background-color: #ecf0f1;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

li.completed {
    text-decoration: line-through;
    background-color: #2ecc71;
    border: 2px solid #27ae60;
}

.edit-button {
    border: 2px solid #3498db;
    color: black;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

#tarefas-pendentes, #tarefas-concluidas-hoje {
    margin: 0;
    padding: 20px;
    border: 2px solid #3498db;
    border-radius: 10px;
    background-color: #ecf0f1;
}

#tarefas-pendentes-section, #tarefas-concluidas-section {
    width: 48%;
    margin-right: 20px;
}

#tarefas-pendentes .completed {
    border: 2px solid #e74c3c;
    background-color: #ecf0f1;
}
#tarefas-pendentes-section,
#tarefas-concluidas-section {
    width: 48%;
    margin-right: 20px;
    overflow-y: auto; /* Adicionado para permitir a rolagem vertical */
}
#tarefas-pendentes, #tarefas-concluidas-hoje {
    margin: 0;
    padding: 20px;
    border: 2px solid #3498db;
    border-radius: 10px;
    background-color: #ecf0f1;
    overflow-y: auto; /* Adicionado para rolagem vertical */
    max-height: 300px; /* Adicionado para limitar a altura */
}
footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #333; /* Cor de fundo do rodapé */
    color: #fff; /* Cor do texto no rodapé */
    text-align: center; /* Centralizar o texto */
    padding: 10px;
}

footer p {
    margin: 0; /* Remover margens padrão */
}

footer a {
    color: #fff; /* Cor dos links no rodapé */
    text-decoration: none; /* Remover sublinhado dos links */
}


footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #333; /* Cor de fundo do rodapé */
    color: #fff; /* Cor do texto no rodapé */
    text-align: center; /* Centralizar o texto */
    padding: 10px;
}

footer p {
    margin: 0; /* Remover margens padrão */
}

footer a {
    color: #fff; /* Cor dos links no rodapé */
    text-decoration: none; /* Remover sublinhado dos links */
}
footer a {
    color: #3498db; /* Cor azul para o link */
    text-decoration: none; /* Remover sublinhado dos links */
}

footer a:hover {
    text-decoration: underline; /* Adicionar sublinhado ao passar o mouse sobre o link */
}
