body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #3498db, #2ecc71);
    height: 100vh;
    overflow: hidden;
}

header {
    background: linear-gradient(90deg, #3498db, #2ecc71);
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    margin: 20px;
    display: flex;
    align-items: center;
}

input, button {
    padding: 10px;
    margin-right: 8px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #2ecc71;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #27ae60;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 8px;
    cursor: pointer;
    background-color: #ecf0f1;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

li.completed {
    text-decoration: line-through;
    color: #7f8c8d;
}

#modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 10px;
}

/* Adicionando um estilo para o botão Limpar Tudo */
#limparTudo {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#limparTudo:hover {
    background-color: #c0392b;
}

/* Adicionando um estilo para o input */
input {
    border: 1px solid #3498db;
    border-radius: 5px;
    padding: 10px;
    margin-right: 8px;
}

/* Adicionando um estilo para o botão Adicionar Sugestões */
#sugestoesBtn {
    background-color: #e67e22;
    color: white;
    border: none;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#sugestoesBtn:hover {
    background-color: #d35400;
}
